:root {
  --white: #edf2f4;
  --light-green: #779136;
  --green: #445f08;
  --border: 1px solid #edf2f4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 300px;
  color: var(--white);
  background-color: var(--green);
  font-family: Arial, Helvetica, sans-serif;
}
